.backLink {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 32px;
  width: 32px;
  color: var(--gray-7);
}

.backLink:hover {
  color: var(--foreground);
}

.backLink svg {
  height: 24px;
  width: 24px;
}
