.footer {
  margin-top: 60px;
  background: linear-gradient(150deg, #0b69eb 70%, #ffffff 100%);
  padding: 20px;
  text-align: center;
  color: rgb(255, 255, 255);
  padding: 50px;
  font-size: 1.2rem;
}
.footerTheme {
  font-size: 2.5rem;
  font-family: "Yu Mincho", serif;
  color: white;
}
