.button {
  position: relative;
  display: flex;
  align-items: center;
  padding: 5px 9px;
  color: var(--gray-f);
  background-color: var(--blue);
  border: none;
  border-radius: var(--radius);
  cursor: pointer;
}

.button:disabled {
  background-color: var(--gray-8);
}
