:root {
  --gray-0: #000;
  --gray-1: #111;
  --gray-2: #222;
  --gray-3: #333;
  --gray-4: #444;
  --gray-5: #555;
  --gray-6: #666;
  --gray-7: #777;
  --gray-8: #888;
  --gray-9: #999;
  --gray-a: #aaa;
  --gray-b: #bbb;
  --gray-c: #ccc;
  --gray-d: #ddd;
  --gray-e: #eee;
  --gray-f: #fff;
  --blue: #007bff;
  --dark-blue: #0b69eb;
  --green: #5c5;
  --red: #f55;

  --background: var(--gray-f);
  --foreground: var(--gray-2);

  --selectable-foreground: var(--gray-3);
  --selected-foreground: var(--gray-2);
  --unselected-foreground: var(--gray-9);

  --border: var(--gray-c);
  --radius: 3px;

  --class-blue: #58f;
  --class-red: #f66;
  --class-green: #5c8;
  --class-white: #ddd;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--gray-2);
    --foreground: var(--gray-d);

    --selectable-foreground: var(--gray-c);
    --selected-foreground: var(--gray-d);
    --unselected-foreground: var(--gray-8);

    --border: var(--gray-5);
  }
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

html,
body {
  min-height: 100vh;
  min-width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  color: var(--foreground);
  background-color: var(--background);
}

main {
  flex: 1;
  margin: 0px auto;
  padding: 24px;
  width: 100%;
  max-width: 1400px;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

p {
  font-size: 16px;
}

a {
  text-decoration: none;
}

input,
button,
textarea {
  background-color: inherit;
}
