.date {
  color: var(--gray-7);
}

.content {
  padding: 15px 0px;
  min-height: 100px;
}

.classes {
  padding: 10px 0px;
  color: var(--gray-5);
}

.hr {
  margin: 7px 5px;
  border: none;
  border-bottom: 1px solid var(--border);
}

.link {
  display: block;
  padding: 10px 0px;
  color: var(--blue);
}

@media (prefers-color-scheme: dark) {
  .date {
    color: var(--gray-6);
  }

  .classes {
    color: var(--gray-4);
  }

  .hr {
    border-bottom: 1px solid var(--gray-7);
  }
}
